$primary-color: #ffffff;
$text-color: #000000;


@mixin flexCenter($gap) {
    display: flex;
    align-items: center;
    gap: $gap;
}

.card {
    background-color: $primary-color;
    width: 252px;
    margin: 10px;
    padding: 24px;
    border-radius: 8px
}

.filename {
    @include flexCenter(10px);

    .filename__text {
        border: 1px solid;
        line-height: 1;
    }
}

.paragraph {
    font-size: 12px;
}

.analysis {
    @include flexCenter(50px)
}